@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-primary-dark: #ea580c;
  --color-surface: #18181b;
  --font-sans: "Inter", sans-serif;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

body {
  background-color: #09090b;
  color: #fafafa;
  font-family: var(--font-sans);
}

.Toastify__toast-theme--dark {
  background: var(--color-surface) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff !important;
}

.Toastify__progress-bar--success {
  background: var(--color-primary);
}
